header#header
  h2#site-name
    a(href="/") Portfolio

  nav
    ul
      li
        a(href="/project/list") Projects
      li
        a(href="/skill/list") Skills
      li
        a(href="/user/login") Login
      li
        a(href="/user/register") Register
  
