extends common/layout

block layout-content
  .main-content
    h1.page-title Welcome to My Portfolio

    p
      | Hello! I'm Rohit kumar, a passionate web developer. 
      | I specialize in creating beautiful, responsive, and user-friendly websites.
      br
      | Take a look at some of my projects below!

    

    p
      | Feel free to contact me if you have any questions or would like to collaborate!
