extend layout 

block layout-content
  h1 Welcome to my e-com website for clothes shops!
  p You can find different types of clothes from various brands.
  
  //- Hoodies Section
  section.category
    h3 Hoodies
    //- Image source=https://m.media-amazon.com/images/I/61iBJGpSSVL._AC_SX569_.jpg
    img(src="/img/Hoodies.jpg", alt="Hoodies")
    p Explore our collection of warm and stylish hoodies for all seasons.
  
  //- Winter Jacket Section
  section.category
    h3 Winter Jackets
    //- Image source=https://m.media-amazon.com/images/I/71oXgYIG+ZL._AC_SX679_.jpg
    img(src="/img/Winterjacket.jpg", alt="Winter Jacket")
    p Stay warm and cozy with our range of winter jackets for every occasion.
  
  //- Jeans Section
  section.category
    h3 Jeans
    //- Image source=https://m.media-amazon.com/images/I/51dR3pFvlWL._AC_SX679_.jpg
    img(src="/img/Jeans.jpg", alt="Jeans")
    p Shop the latest denim trends, perfect for any style and season.
